/* 
    Estilos generales
*/

.photoprofile {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .edit,
  .delete {
    width: 100px;
    height: 40px;
    margin: 5px;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }